{% extends 'base.html.twig' %}

{% block body %}
<main>
    <center>
        <div class="section"></div>

        <h5 class="indigo-text">{{ 'login.text'|trans }}</h5>
        <div class="section"></div>

        <div class="container">
            <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

                <form class="col s12" method="post">
                    <div class='row'>
                        <div class='col s12'>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='input-field col s12'>
                            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="validate" placeholder="{{ 'login.field.username'|trans }}" required autofocus>
                            <label for="inputUsername" class="sr-only">{{ 'login.field.username'|trans }}</label>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='input-field col s12'>
                            <input type="password" name="password" id="inputPassword" class="validate" placeholder="{{ 'login.field.password'|trans }}" required>
                            <label for="inputPassword" class="sr-only">{{ 'login.field.password'|trans }}</label>
                        </div>
                    </div>

                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >

                    <br />
                    <center>
                        <div class='row'>
                            <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect indigo'>{{ 'login.button.login'|trans }}</button>
                        </div>
                    </center>
                </form>
            </div>
        </div>
        <a href="#!">{{ 'login.link.create_account'|trans }}</a>
    </center>

    <div class="section"></div>
    <div class="section"></div>
</main>
{% endblock %}
