<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ 'base.title'|trans }}{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        {% endblock %}
    </head>
    <body>
        <nav>
            <div class="nav-wrapper grey lighten-1" style="height: 77px;">
                <a href="{{ path('app_home') }}" class="brand-logo" style="padding-top:0.5%">
                    <img src="{{ asset('images/logo.k9') }}" width="60%">
                </a>
                <ul id="nav-mobile" class="right hide-on-med-and-down" style="padding-top:0.5%">
                    {% if app.user %}
                        <li><a href="#">{{ 'base.nav.account'|trans }}</a></li>
                        <li><a href="{{ path('app_logout') }}">{{ 'base.nav.logout'|trans }}</a></li>
                    {% else %}
                        <li><a href="{{ path('app_login') }}">{{ 'base.nav.login'|trans }}</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <div class="section"></div>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        {% endblock %}
    </body>
</html>
